body{
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
}


.img-top {
    transform: translateX(-40%) translateY(-20%);

}

.img-bottom {
    transform: translateX(50%) translateY(40%);
}
