@font-face {
    font-family: Kumbh;
    src: url(https://fonts.google.com/specimen/Kumbh+Sans);
    font-weight: bold;
}

.form-all * {
    font-family: 'Kumbh+Sans', sans-serif;
}

body {
    font-size: 18px;
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-top.svg");

    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: bottom 0vh right 47vw, top 50vh left 60vw;

    font-family: 'Kumbh Sans', sans-serif;
    line-height: 25px;
}

.img-top {
    transform: translateX(-40%) translateY(-20%);
}

.img-bottom {
    transform: translateX(50%) translateY(40%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-header {
    background: url("../images/bg-pattern-card.svg");
    border-radius: 1.5rem 1.5rem 0 0;
    min-height: 9rem;
    background-repeat: no-repeat;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 1.5rem;
    background: white;
    position: absolute;
    top: 30%;
}

.card img {
    border-radius: 50%;
    bottom: 58px;
    position: relative;
    border: 5px solid white;
}

.muted {
    opacity: 0.5;
    font-weight: normal;
    margin: 5px;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials p {
    margin: 25px;
    font-weight: bold;
}

.socials p .muted {
    font-weight: normal;

}

.card-body h4 {
    margin: 0 0 5px 0;;
}